*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Microsoft JhengHei";
}
.bg_images{
    background-image: url("../img/main_bg2.png") ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.content{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.header_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 5%;
    width: 100%;
    z-index: 1;
    background-color: #ff9900;
}
.logo{
    background-color: white;
    height: 80%;
    padding: 5px 30px;
    border-radius: 5px;
}
.logo img{
    height: 100%;
}
.header_bar ul{
    list-style: none;
}
.header_bar ul li{
    display: inline;
}
.header_btn{
    padding: 3px 10px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}
.header_btn:focus{
    outline: none;
}
.clr_white{
    height: 60px;
    color: #fff;
    background-color: #000;
}
.imagebox{
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    z-index: 3;
    transition: opacity .5s;
}
.image{
    width: 33%;
    cursor: pointer;
    margin: 0 30px;
    position: relative;
    filter: grayscale(100%);
    transition: filter .5s linear;
}
.image img{
    width: 100%;
    border-radius: 50px;
    box-shadow: 10px 10px 60px #000;
}
.imgbg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 20%;
    border-radius: 50px;
}
.img_word{
    position: absolute;
    top: 8%;
    left: 13%;
    width: 100%;
    color: #fff;
    font-size: 150px;
    font-weight: 600;
    opacity: 0;
    transition: opacity .5s linear;
}
.image:hover .img_word{
    opacity: 60%;
}
.image:hover{
    filter: none;
}
.image:nth-child(1)::before{
    background-image: url("../images/know1.png");
}
.image:nth-child(2)::before{
    background-image: url("../images/know2.png");
}
.image:nth-child(3)::before{
    background-image: url("../images/know3.png");
}


.header_bar{
    display: flex;
    align-items: center;
}
.btn_acc{
    margin-left: 25px;
}
.btn_img{
    margin: 0;
    position: relative;
}
.btn_img:hover{
    transform: scale(1.1);
}
.userimg{
    border-radius: 50%;
    width: 30px;
}
.dropdown ul{
    list-style: none;
}
.dropdown ul li{
    display: inline-block;
}
.dropdown{
    position: absolute;
    top: 100%;
    right: 20%;
    width: 120px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: transform .3s;
}
.dropdown_link{
    padding: 16px 10px;
    width: 100%;
    transition: background-color .3s;
    text-align: left;
}
.dropdown_link a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.dropdown_link:hover{
    background-color: #ffd79b;
}
.dropdown_link:hover a{
    color: #fff;
}
.btn_img:hover .dropdown{
    transform: translate(0,0);
    opacity: 1;
    pointer-events: auto;
}