.carousel{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    opacity: 0;
    z-index: 2;
    transition: opacity .5s;
}
.back{
    position: absolute;
    top: 12%;
    left: 10%;
    opacity: 0;
    padding: 5px 15px;
    border:  #F94248 solid 2px;
    font-size: 20px;
    font-weight: 600;
    color:  #F94248;
    background-color: transparent;
    border-radius: 20px;
    transition: opacity .5s,background-color .25s linear,color .25s linear;
    cursor: pointer;
}
.back:hover{
    background-color:  #F94248;
    color: #fff;
}
.back:focus{
    outline: none;
}
.carousel_img{
    display: flex;
    transform: translateX(0);
    transition: transform .25s ;
    height: 600px;
}
.carousel_img div{
    width: 400px;
    height: 560px;
    overflow: hidden;
    margin-right: 80px;
    position: relative;
    box-shadow: 15px 20px 30px #383838;
    border-radius: 20px;
    filter: grayscale(100%);
    transition: filter .5s linear;
    cursor: pointer;
}
.carousel_img img{
    height: 100%;
    position: absolute;
}
.carousel_img div:hover{
    filter: none;
}
.carousel_btn{
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #F94248;
    display: flex;
    align-items: center;
    justify-content: center;

}
.carousel_btn:focus{
    outline: none;
}
.carousel_btn svg{
    width: 60%;
    fill: #fff;
}
.carousel .pre{
    left: 5px;
}
.carousel .next{
    right: 5px;
}
.opacity{
    opacity: 0;
}

.carousel_img div:before{
    content: "";
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    line-height: 180%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ff9900;
    width: 100%;
    height: 90px;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s linear;
}
.carousel_img div:hover:before{
    opacity: 70%;
}
.carousel_img div:nth-child(1){
    visibility: hidden;
}
.carousel_img div:nth-child(2)::before{
    content: "DR2800型";
}
.carousel_img div:nth-child(3)::before{
    content: "DR3100型";
}
.carousel_img div:nth-child(3) img{
    left: -130px;
}
.carousel_img div:nth-child(4)::before{
    content: "E1000型";
}
.carousel_img div:nth-child(4) img{
    right: -80px;
}
.carousel_img div:nth-child(5)::before{
    content: "E200型";
}
.carousel_img div:nth-child(5) img{
    right: -30px;
}
.carousel_img div:nth-child(6)::before{
    content: "E400型";
}
.carousel_img div:nth-child(6) img{
    right: -50px;
}
.carousel_img div:nth-child(7)::before{
    content: "EMU1200型";
}
.carousel_img div:nth-child(7) img{
    right: -40px;
}
.carousel_img div:nth-child(8)::before{
    content: "EMU300型";
}
.carousel_img div:nth-child(8) img{
    left: -50px;
}
.carousel_img div:nth-child(9)::before{
    content: "EMU500型";
}
.carousel_img div:nth-child(9) img{
    right: -30px;
}
.carousel_img div:nth-child(10)::before{
    content: "EMU600型";
}
.carousel_img div:nth-child(10) img{
    right: -30px;
}
.carousel_img div:nth-child(11)::before{
    content: "EMU700型";
}
.carousel_img div:nth-child(11) img{
    right: -80px;
}
.carousel_img div:nth-child(12)::before{
    content: "EMU800型";
}
.carousel_img div:nth-child(12) img{
    right: -40px;
}
.carousel_img div:nth-child(13)::before{
    content: "R100型";
}
.carousel_img div:nth-child(13) img{
    left: -50px;
}
.carousel_img div:nth-child(14)::before{
    content: "R150型";
}
.carousel_img div:nth-child(15)::before{
    content: "R20型";
}
.carousel_img div:nth-child(15) img{
    right: -40px;
}
.carousel_img div:nth-child(16)::before{
    content: "TEMU1000型";
}
.carousel_img div:nth-child(17)::before{
    content: "TEMU2000型";
}
.carousel_img div:nth-child(18){
    visibility: hidden;
}
