<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>鐵路心旅行-火車訂票</title>
    <link rel="stylesheet" href="static/css/style_booking.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body onload="getloginstatus()">
    <header>
        <div class="logo">
            <a href="index.html"><img src="static/img/Group 1.png" alt="logo"></a>
        </div>
        <div class="header_bar">
            <ul id='headerlist'>
                <li>
                    <a href="index.html"><button class="header_btn header_btn_first">首頁</button></a>
                </li>
                <li>
                    <a href="booking.html"><button class="header_btn header_btn_hover">火車訂票</button></a>
                </li>
                <li>
                    <a href="intro.html"><button class="header_btn header_btn_hover">車站景點</button></a>
                </li>
                <li>
                    <a href="knowledge.html"><button class="header_btn header_btn_hover">台鐵知識王</button></a>
                </li>
            </ul>

            <div class="btn_acc" id="alreadylogin">
            </div>
        </div>
    </header>
    <div class="adbox">
        <div class="ad2">
            <img src="static/img/ad2.png" alt="ad2">
            <div class="bg_black"></div>
            <div class="ad_position">
                <div>不知道去哪裡玩?</div>
                <a href="intro.html">
                    <button>參考網頁景點介紹
                        <svg xmlns="http://www.w3.org/2000/svg" width="23.91" height="25.399"
                            viewBox="0 0 23.91 25.399">
                            <g id="Group_71" data-name="Group 71" transform="translate(-441.439 -379.162)">
                                <g id="Group_14" data-name="Group 14" transform="translate(1 4.732)">
                                    <line id="Line_3" data-name="Line 3" x1="12.361" y2="12.361"
                                        transform="translate(441.5 386.407)" fill="none" stroke="#fff"
                                        stroke-width="3" />
                                    <path id="Path_3" data-name="Path 3" d="M12.8,12.567,0,0"
                                        transform="translate(441.5 375.5)" fill="none" stroke="#fff" stroke-width="3" />
                                </g>
                                <g id="Group_15" data-name="Group 15" transform="translate(10 4.732)">
                                    <line id="Line_3-2" data-name="Line 3" x1="12.361" y2="12.361"
                                        transform="translate(441.5 386.407)" fill="none" stroke="#fff"
                                        stroke-width="3" />
                                    <path id="Path_3-2" data-name="Path 3" d="M12.8,12.567,0,0"
                                        transform="translate(441.5 375.5)" fill="none" stroke="#fff" stroke-width="3" />
                                </g>
                            </g>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="formresult" id="formresult">
        <a href="booking.html">
            <button class="resrh">
                <svg class="rebtn" xmlns="http://www.w3.org/2000/svg" width="10.723" height="17.786"
                    viewBox="0 0 10.723 17.786">
                    <g id="Group_53" data-name="Group 53" transform="translate(1.051 1.07)">
                        <g id="Group_52" data-name="Group 52" transform="translate(0)">
                            <line id="Line_3" data-name="Line 3" x2="8.317" y2="8.317"
                                transform="translate(0.294 7.339)" fill="none" stroke="#fff" stroke-width="3" />
                            <path id="Path_3" data-name="Path 3" d="M0,8.456,8.611,0" transform="translate(0)"
                                fill="none" stroke="#fff" stroke-width="3" />
                        </g>
                    </g>
                </svg>
                重新查詢</button>
        </a>
        <div class="notice">
            <div>※ 臺鐵局不定期微調列車班次，若您欲規劃行程，建議於出發前一週再次查詢時刻表資訊。
            </div>
            <div>※ 本系統係提供票價試算參考，實際票價應以列車實際運行里程及現場售票為準。</div>
        </div>
        <div class="resultinforbox">
            <div class="traininforbox">
                <div class="traininfor">
                    <div class="traininforword">車種車次</div>
                </div>
                <div class="traininfor">
                    <div class="traininforword">出發時間</div>
                </div>
                <div class="traininfor">
                    <div class="traininforword">抵達時間</div>
                </div>
                <div class="traininfor">
                    <div class="traininforword">行駛時間</div>
                </div>
                <div class="traininfor">
                    <div class="traininforword">全票</div>
                </div>
                <div class="traininfor">
                    <div class="traininforword">孩童票</div>
                </div>
                <div class="traininfor">
                    <div class="traininforword">敬老票</div>
                </div>
                <div class="traininfor">
                    <div class="traininforword">剩餘座位</div>
                </div>
                <div class="traininfor">
                    <div class="traininforword">備註</div>
                </div>
            </div>
            <div id="display"></div>
        </div>

    </div>
    <script src="API_js/getheader.js"></script>
    <script src="API_js/bookingres.js"></script>
</body>

</html>