<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>鐵路心旅行首頁</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body onload="getloginstatus()">
    <div class="content_box">
        <div class="banner">
            <img src="static/img/main_bg1.jpg" alt="" class="img1">
            <div class="images">
                <img src="static/img/ad.png" alt="ad">
            </div>
        </div>
        <div class="bg_black">
        </div>
        <div class="content">
            <header>
                <div class="header_row">
                    <div class="logo">
                        <a href="index.html"><img src="static/img/Group 1.png" alt="logo"></a>
                    </div>
                    <div class="header_bar">
                        <ul id='headerlist'>
                            <li>
                                <a href="index.html"><button class="header_btn header_btn_first">首頁</button></a>
                            </li>
                            <li>
                                <a href="booking.html"><button class="header_btn header_btn_hover">火車訂票</button></a>
                            </li>
                            <li>
                                <a href="intro.html"><button class="header_btn header_btn_hover">車站景點</button></a>
                            </li>
                            <li>
                                <a href="knowledge.html"><button class="header_btn header_btn_hover">台鐵知識王</button></a>
                            </li>
                        </ul>

                        <div class="btn_acc" id="alreadylogin">
                        </div>
                    </div>
                </div>
            </header>
            <div class="images">
                <img src="static/img/ad.png" alt="ad">
            </div>
        </div>
    </div>
    <script src="API_js/getheader.js"></script>
</body>

</html>