<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>進階台鐵知識王</title>
    <link rel="stylesheet" href="static/css/style_test2.css">
</head>

<body>
    <header>
        <ul>
            <li>
                <a href="index.html"><button class="header_btn">首頁</button></a>
            </li>
            <li>
                <a href="booking.html">
                    <button class="header_btn">火車訂票</button>
                </a>
            </li>
            <li>
                <a href="intro.html"><button class="header_btn">車站景點</button></a>
            </li>
            <li>
                <a href="knowledge.html"><button class="header_btn btnbg">台鐵知識王</button></a>
            </li>
        </ul>
    </header>
    <div class="contentbox">
        <div class="contentimg">
            <img src="static/img/test2.png" alt="">
        </div>
        <div class="contentest" id="contentest">
            <div class="contentquestion" id="question">
                請問下列哪座車站為丙種簡易站?
            </div>
            <div class="answerbtnbox">
                <button class="answerbtn" onclick="clickthis(this)" id="aswerbtn1">十分</button>
                <button class="answerbtn" onclick="clickthis(this)" id="aswerbtn2">頭家厝</button>
                <button class="answerbtn" onclick="clickthis(this)" id="aswerbtn3">科工館</button>
                <button class="answerbtn" onclick="clickthis(this)" id="aswerbtn4">林榮新光</button>
            </div>
            <div class="btncontrol">
                <button class="btncontroler back" onclick="back()" id="back">回上一題</button>
                <button class="btncontroler nxtbtn" onclick="next()" id ="next">下一題</button>
            </div>
            <div class="loadingbox">
                <div class="number" id="number">1</div>
                <div class="subloadingbox">
                    <div class="load light"></div>
                    <div class="load pink" id="pink"></div>
                </div>
            </div>
        </div>
        <div class="contentcorrect" id="contentcorrect">
            <div class="correctbox">
                <div class="correctword" id="correctword">0</div>
            </div>
            <div class="nxtcor">
                <a href="index.html"><button class="btncontroler nxtbtn downbtn">回到主頁</button></a>            </div>
        </div>
    </div>
    <script src="static/js/script_test2.js"></script>
</body>

</html>